body,
html {
    height: 100%;
}

.Navlogo {
    width: 55px;
    height: 55px;
}

body {
    background-image: url('/Assets/images/regBG.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 5%;
    width: 50%;
}

.card {
    opacity: 80%;
}

.lab {
    color: white;
}

button {
    float: right;
}